//sONOFF.config
//deviceID : alias : RFcode : description

1000015719 : corridor : 5EAC01 : P2-area-corridoio - Derivazione cabina Daniela
10000157df : dining : 5EA151 : G5-area-isola-cucina - Derivazione cabina Daniela
100001581b : center : 5EAD11 : G6-area-divano - Derivazione Blue
1000015822 : coffee : 5EA751 : G7-area-TV - Derivazione Blue
10000157b7 : kitchen : 5EA1A1 : G9-area-lavandino - Derivazione cabina Daniela
1000015709 : curr-alarm : 5EAAC1 : G11-muro-angolo-cucina - Derivazione cabina Daniela
100001571c : piano-wall : 5EA1F1 : G13-muro-pianoforte - Derivazione Blue
100001588a : master-bed : DAD1C1 : P1-area-letto - Derivazione cabina Daniela
10000157d8 : master-bath : DADBC1 : P4-area-bagno - Derivazione cabina Daniela
1000015746 : nick-bed : C001C1 : N1-area-camera - Derivazione ingresso Nicolo
1000015766 : nick-bath : C001B1 : N2-area-bagno - Derivazione cabina Nicolo
1000015767 : lavanderia : 0A55C1 : L1-area-lavanderia - Derivazione lavanderia
100001580c : tapirulan : D00D01 : K1-area-porta-scalaD-office-Danilea - Derivazione cucina bilocale
10000157b4 : office : D00DC2 : K2-area-cucina - Derivazione cucina bilocale
10000158df : disimpgno : D00DD4 : K4-area-disimpegno - Derivazione cucina bilocale
1000015906 : bagnetto : D00DB1 : K5-area-bagno - Derivazione cucina bilocale
10000157fc : pink : D00D32 : K6-area-letto - Derivazione letto bilocale
10000157ed : entry : DADCC1 : G1G2G3G4-corridoio-principale - Derivazione Blue

//devices with unknown deviceID

 : piano : 5EAA51 : G8-area-angolo-vetrata - Derivazione Blue
 : wall-office : D00DF3 : K3-muro-cucina-fuochi - Derivazione cucina bilocale
 : shower-main : DADB51 : P6-area-serretta - Derivazione cabina Daniela
 : red : DADB91 : Grow-Light-serretta - Soffitto serretta
 : shower : DADBF1 : Shower - Soffitto serretta
 : tree : D00D22 :  Tree - Soffitto serretta
 : column : 5EACD1 : G10-muro-colonna-divano - Derivazione Blue
 : wall-oven : 5EAF01 : G12-muro-forno - Derivazione Blue
